@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
p {
  font-size: 14px;
  line-height: 20px;
  font-family: "poppins";
  font-weight: 400;
  color: #737791;
}

/* Avatar */
.ant-space-gap-col-small {
  column-gap: 12px;
}
.ant-space-gap-col-small:hover {
  font-weight: 600;
  color: Black !important;
}

/* Card */
.ant-card .ant-card-head {
  border-bottom: 1px solid grey !important;
  min-height: 60px !important;
}

/* Pagination  */
.ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: #fd7d00;
  border: none !important;
  color: #ffffff !important;
}

/* dropdown */
:where(.css-dev-only-do-not-override-vfy3d8).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: #fd7d00;
  border-color: #fd7d00;
  background: #ffffff;
}

/* tabs */

/* Collapse */
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  margin-top: 20px;
  color: white;
  font-size: large;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content {
  border-bottom: 2px solid #535353;
  margin-left: 60px;
}

/* ant design modal footer top margin remove */
.ant-modal-footer {
  margin-top: 0 !important;
}

/* ant design menu option */
.ant-menu-item:hover {
  /* background-color: red !important; */
  /* background: linear-gradient(90deg, #440093 0%, #975cdb 100%); */
  background-color: #fd7d00 !important;
  color: white !important;
}

.ant-menu-item .ant-menu-item-selected {
  /* background: linear-gradient(90deg, #440093 0%, #975cdb 100%) !important; */
  background-color: #fd7d00 !important;
  color: #222222 !important;
}
.ant-menu-item .ant-menu-item-selected {
  /* background: linear-gradient(90deg, #440093 0%, #975cdb 100%) !important; */
  background-color: #fd7d00 !important;
  color: #222222 !important;
}
.ant-menu-item .ant-menu-item-active .ant-menu-item-selected {
  background-color: #fd7d00 !important;
  color: #ffffff !important;
}

.ant-menu-light .ant-menu-item-selected a {
  color: #fd7d00 !important;
}

/* .ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-open {
  background-color: #ffc301;
} */

/* .ant-menu-item {
  background-color: #ffffff !important;
  color: #18a0fb !important;
} */
.ant-menu-title-content:hover {
  color: white !important;
}
.ant-menu-submenu .ant-menu-submenu-inline > svg:hover {
  color: white !important;
}

.ant-menu-submenu-title:hover {
  background-color: #fd7d00 !important;
  color: white !important;
}

.ant-menu-item-selected {
  background-color: #fd7d00 !important;
  color: white !important;
}
.ant-menu-light .ant-menu-item-selected a {
  color: white !important;
}
.ant-menu-title-content {
  color: black !important;
}

.ant-menu .ant-menu-item .ant-menu-item-icon:hover + span {
  transition: none !important;
}

.ant-menu-item-icon {
  font-size: xx-large;
  font-weight: bolder;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu
  .ant-menu-submenu-arrow::before,
:where(.css-dev-only-do-not-override-11lehqq).ant-menu
  .ant-menu-submenu-arrow::after {
  background-color: black !important;
}
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: white !important;
}
.ant-menu .ant-menu-submenu-title:hover > .ant-menu-item-icon {
  color: white !important;
  transition: none !important;
}
.ant-menu .ant-menu-title-content {
  transition: none !important;
}

.ant-input-outlined {
  outline: none;
}

.ant-badge .ant-badge-count {
  background: #007ba5 !important;
  color: white !important;
}

.jodit-workplace {
  height: 550px !important;
}

/* .ant-menu-item-icon {
  color: black !important;
} */

.ant-menu .ant-menu-submenu-title .ant-menu-item-icon {
  color: black !important;
}

.ant-menu .ant-menu-submenu-title {
  color: black !important;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: none;
  /* height: 90px; */
}
.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-header-text {
  padding: 10px;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
  border-bottom: none;
  margin-left: 60px;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid rgba(226, 226, 226, 0.8);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  padding: 20px;
}

.ant-card .ant-card-head {
  border-bottom: none;
  min-height: 120px;
}
.ant-card-head-title {
  color: white !important;
}
:where(.css-dev-only-do-not-override-1qeagc6).ant-card:not(.ant-card-bordered) {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  color: "#929394";
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  width: 100%;
  height: 130px;
  background-color: #ffffff;
}
.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select:hover {
  border: 1px dashed #fc7d01 !important;
}

.jodit-container:not(.jodit_inline) {
  border-radius: 5px;
}

.jodit .jodit-workplace .jodit-wysiwyg,
.jodit .jodit-workplace .jodit-wysiwyg_iframe,
.jodit-container .jodit-workplace .jodit-wysiwyg,
.jodit-container .jodit-workplace {
  border-radius: 5px;
}

.ant-pagination .ant-pagination-item a {
  color: white !important;
  border: none !important;
}

.ant-pagination .ant-pagination-item a:hover {
  background-color: white !important;
  color: black !important;
  border: none !important;
}
.ant-table-row:nth-child(even) {
  background-color: #f7f7f7;
}

:where(.css-dev-only-do-not-override-1p39ys8).ant-pagination
  .ant-pagination-item {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  margin-inline-end: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #dcdcdc;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  user-select: none;
}
.ant-pagination .ant-pagination-item a {
  color: #000 !important;
  border: none !important;
}

/* select */
.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector:hover {
  border: 1px solid #fc7d01 !important;
}

.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector:focus-within {
  border: 1px solid #fc7d01 !important;
}
